body {
  margin: 0;
  padding: 0;
}

.page {
  margin-top: 70px;
}

.main-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  width: 100vw;
  padding: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(minmax(320px, 1fr));
  justify-items: center;
  max-height: 80vh;
  overflow: auto;
  -ms-overflow-style: none; 
  scrollbar-width: none;  
}

.grid::-webkit-scrollbar {
  display: none;
}


.map {
 height: calc(100vh);
}
