body {
  margin: 0;
  padding: 0;
}

.page {
  margin-top: 70px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 20px;
  justify-items: center;
  padding: 20px;
  width: 100vw; 
}
